<%= javascript_include_tag "problems" %>


<p>
  <a class="btn btn-primary" type="button" href="/problems/problem_new/"><i class="icon-plus"></i>Зарегистрировать проблему</a>
</p>




<table class="table table-hover table-bordered table-condensed">
  <caption>Мои проблемы</caption>
  <thead>
  <tr>
    <th>Тема</th>
    <th class="span2">Дата</th>
    <th class="span1"></th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>