<%= javascript_include_tag "problem_new" %>

<form class="form-horizontal" id="problem_new" novalidate="">

  <fieldset>

    <div class="control-group">
      <label class="control-label" for="inputTopic">Тема</label>
      <div class="controls">
        <input type="text"  id="inputTopic" name="inputTopic" style="width:70%;">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="inputText">Текст</label>
      <div class="controls">
        <textarea rows="7" id="inputText" name="inputText" style="width:70%;">  </textarea>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn">Сохранить</button>
      </div>
    </div>

  </fieldset>
</form>