<%= javascript_include_tag "problem_edit" %>


<form class="form-horizontal" id="problem_edit" novalidate="">

  <fieldset>

    <div class="control-group">
      <label class="control-label" for="inputMemberslist">Участники</label>
      <div class="controls">
        <input type="text"  id="inputMemberslist" name="inputMemberslist" style="width:70%;" disabled="disabled">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="inputTopic">Тема</label>
      <div class="controls">
        <input type="text"  id="inputTopic" name="inputTopic" style="width:70%;" disabled="disabled" value=<%= @my_problem.topic %>  >
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="inputText">Текст</label>
      <div class="controls">
        <textarea rows="7" id="inputText" name="inputText" style="width:70%;" readonly="readonly" ><%= @my_problem.text %></textarea>
      </div>
    </div>



  </fieldset>
</form>