<%= javascript_include_tag "main" %>
<%= javascript_include_tag "supply" %>


<ul class="nav nav-tabs">
  <li>
    <a href="/supply/in">Входящие</a>
  </li>
  <li class="active">
    <a href="/supply/out">Исходящие</a>
  </li>
</ul>
