<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>


<h3>Заявка '<%= @mail_data[:ticket_topic] %>' зарегистрирована</h3>
<p>
  Текст: <%== @mail_data[:ticket_text] %>
  <br/>
</p>

<p>
  Чтобы войти в систему, перейдите по ссылке: <%= @mail_data[:url] %>.
</p>

</body>
</html>