<%= javascript_include_tag "main" %>
<%= javascript_include_tag "tickets" %>

<%=
    #debug  UserByGroup.groups_for_user(session[:user_id]).map{ |x| x.id}
    #debug @form_data[:other_tickets]
%>

<ul class="nav nav-tabs">
  <li>
    <a href="/tickets/in">Входящие</a>
  </li>
  <li>
    <a href="/tickets/out">Исходящие</a>
  </li>
  <li>
    <a href="/tickets/ticket_new/">Новая заявка</a>
  </li>
  <li class="nav  pull-right dropdown active">
    <a href="/tickets/in_delay/">Отложенные заявки</a>
  </li>
</ul>

<% my_tickets_map = @form_data[:my_tickets].map{ |ticket| ticket.id } %>


<table id="tbl-in-group" name="tbl-in-group" class="table table-hover table-bordered table-condensed table-striped">
  <caption>Моя работа (отложенные заявки)</caption>
  <thead>
  <tr>
    <th class="span4">Инициатор</th>
    <th class="span2">Ответственный</th>
    <th>Тема</th>
    <th class="span1">Участники</th>
    <th class="span2">Дата заявки</th>
    <th class="span1">..............................</th>
  </tr>
  </thead>
  <tbody>

  <% @form_data[:my_tickets].each do |my_ticket| %>

      <% ancestors = my_ticket.ancestors %>
      <% if ancestors.size != 0  %>
          <% @visual = 1 %>
          <% ancestors.each do |ancestor| %>
              <%
                 if  my_tickets_map.include?  ancestor.id
                   @visual = 0
                 end
              %>
          <% end %>
          <% if @visual == 0 %>
              <% next %>
          <% end %>
      <% end %>

      <%=
          @my_ticket = my_ticket
          render template: "tickets/tpl_row_ticket"
      %>


  <% end %>

  </tbody>
</table>

