<%= javascript_include_tag "tickets" %>


<p>
  <a class="btn btn-primary" type="button" href="/tickets/ticket_new/"><i class="icon-plus"></i>Создать заявку</a>
</p>


<table class="table table-hover table-bordered table-condensed">
  <caption>Входящие персональные (10 последних)</caption>
  <thead>
  <tr>
    <th class="span3">Инициатор</th>
    <th>Тема</th>
    <th class="span2">Дата</th>
    <th class="span2"></th>
  </tr>
  </thead>
  <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
  </tbody>
</table>


<table class="table table-hover table-bordered table-condensed">
  <caption>Входящие групповые (10 последних)</caption>
  <thead>
  <tr>
    <th class="span3">Инициатор</th>
    <th>Тема</th>
    <th class="span2">Дата</th>
    <th class="span2"></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  </tbody>
</table>



<table class="table table-hover table-bordered table-condensed">
  <caption>Исходящие (10 последних)</caption>
  <thead>
  <tr>
    <th class="span3">Инициатор</th>
    <th>Тема</th>
    <th class="span2">Дата</th>
    <th class="span2"></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  </tbody>
</table>