<%= javascript_include_tag "main" %>
<%= javascript_include_tag "tickets" %>



<table class="table table-hover table-bordered table-condensed span5">
  <caption>Заявки</caption>

  <tbody>
  <tr>
    <td class="span2">Входящие
    <td class="span1" style="background-color: #DFF0D8;">*</td>
    <td class="span1" style="background-color: #FCF8E3;">**</td>
    <td class="span1" style="background-color: #F2DEDE;">***</td>
  </tr>
  <tr>
    <td class="span2">Исходящие</td>
    <td class="span1" style="background-color: #DFF0D8;">*</td>
    <td class="span1" style="background-color: #FCF8E3;">**</td>
    <td class="span1" style="background-color: #F2DEDE;">***</td>
  </tr>
  </tbody>
</table>

