<%= javascript_include_tag "admin/group_new" %>


<ul class="nav nav-tabs">
  <li>
    <a href="/admin/groups">Пользователи</a>
  </li>
  <li class="active">
    <a href="/admin/groups/group_new/">Новая группа</a>
  </li>
</ul>

<form class="form-horizontal" id="group_new" novalidate="">

  <fieldset>


    <div class="control-group">
      <label class="control-label" for="inputName">Группа</label>
      <div class="controls">
        <input type="text"  id="inputName" name="inputName" value="">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="inputAbbr">Сокр. наименование</label>
      <div class="controls">
        <input type="text"  id="inputAbbr" name="inputAbbr" value="">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="inputTicketEmail">Ticket E-mail</label>
      <div class="controls">
        <input type="text" id="inputTicketEmail" name="inputTicketEmail" value="">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="inputTicketEmailPassword">Ticket E-mail password</label>
      <div class="controls">
        <input type="text" id="inputTicketEmailPassword" name="inputTicketEmailPassword">
      </div>
    </div>



    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn">Сохранить</button>
      </div>
    </div>

  </fieldset>
</form>
