<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="/"><div id='menu_text' name='menu_text'>Ticket system</div></a>



    <% if session[:is_login] %>

        <button type="button" class="btn pull-right" onclick='logout()'>Выход <%= session[:user_id] %></button>


        <% if session[:is_admin] %>
            <ul class="nav pull-right">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Администрирование
                    <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="/admin/users">Пользователи</a></li>
                    <li><a href="/admin/groups">Группы</a></li>

                  </ul>
                </li>
            </ul>
        <% end %>

        <ul class="nav">

          <ul class="nav pull-right">
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown">
                Архив
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="/tickets/arch_in">Входящие</a></li>
                <li><a href="/tickets/arch_out">Исходящие</a></li>
              </ul>
            </li>
          </ul>

          <ul class="nav pull-right">
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown">
                Проблемы
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="/problems/out">Мои проблемы</a></li>
                <li><a href="/problems/in">К рассмотрению</a></li>
              </ul>
            </li>
          </ul>

          <ul class="nav pull-right">
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown">
                Заявки
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="/tickets/in">Входящие</a></li>
                <li><a href="/tickets/out">Исходящие</a></li>
              </ul>
            </li>
          </ul>



        </ul>


  <% else %>

        <p>1 <%= request.env["HTTP_X_FORWARDED_FOR"] %>  </p>


        <form id="login_form" name="login_form" class="navbar-form pull-right">
          <input type="text" class="span3" id="login" name="login" placeholder="login">
          <input type="password" class="span3" id="password" name="password" placeholder="password">
          <button type="submit" class="btn">Submit</button>
        </form>

    <% end %>




  </div>
</div>