<%= javascript_include_tag "main" %>
<%= javascript_include_tag "reports" %>


<form class="form-inline" id="activity">

  <label class="control-label" for="inputDateFrom">Отчет за период с:
    <input type="text" id="inputDateFrom" name="inputDateFrom" >
  </label>

  <label class="control-label" for="inputDateTo">по:
    <input type="text" id="inputDateTo" name="inputDateTo" >
  </label>


  <button class="btn">Сформировать</button>


</form>


<div id="act" name="act">

</div>